#login_btn{
    width:200px;
}

#login_inp{
    width:300px;
}

#login_div{
    padding-top: 50px;
    height: 400px;
    width: 60%;
    border-radius: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    border: 1px ridge lightgray;
}

#logo{
    border-radius: 100px;
    border:springgreen 2px;
    height: 150px;
    width: 150px;
}

#add{
    width:50%;
}

#addbtn{
    width:200px;
}

#welcome{
    height: 800px;
    width: 80%;
    border-radius: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
    border: 1px ridge lightgray;
}

#logo2{
    border-radius: 100px;
}

#sendinput{
    width: 300px;
}

#sendbutton{
    width: 100px;
}

#senddiv{
    margin-top: 470px;
}

.color_white
{
	color: black;
}

#output
{
	padding: 10px; 
    width:80%;
    background: rgba(255,255,255,0.8);
    border-radius: 15px;
    border: 1px ridge grey ;
}

#logout
{
	font-size: 20px; float: right;
    margin-top: 30px;
}

.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(255,255,255,0.8);
}
.input_div_message_page label
{
	color: black;
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:grey;
}